.image-skills img {
  height: 50px;
  border-radius: .3rem;
  margin-right: 3px;
  margin-bottom: 5px;
}

.image-companies img {
  width: 63px;
  height: 63px;
  margin-right: 10px;
}

.wrapper-link-to-linkedin {
  text-align: right;
}
